@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Student>
<a asp-action="AddStudent">Add a Student</a>
<h2>List of Students</h2>
<table style="width:50%">
    <thead>
        <tr>
            <th>ID</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>GPA</th>
            <th>Email</th>
            <th>ProgramID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Student s in Model)
        {
            <tr>
                <td>@s.studentID</td>
                <td>@s.firstName</td>
                <td>@s.lastName</td>
                <td>@s.gpa</td>
                <td>@s.email</td>
                <td>@s.program_id</td>
            </tr>
        }
    </tbody>
</table>
